node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# typescript
*.tsbuildinfo
.dev.vars*
!.dev.vars.example
!.env.example

public/*.whl

.agents/
public/old

# Playwright
test-results/
playwright-report/
blob-report/
e2e/fixtures/*.pdf
e2e/fixtures/*.txt
